<div class="flex justify-start items-center ml-4 mt-4">
  <div class="grid justify-items-center">
    <strong>ATG VALID TESTS</strong>
  </div>
  <div class="flex flex-wrap ml-4">
    <div class="justify-items-center mr-3 ml-3">
      <strong>TK1</strong>
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "ATGVT TK1" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "ATGVT TK1"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <strong>TK2</strong>
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "ATGVT TK2" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "ATGVT TK2"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <strong>TK3</strong>
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "ATGVT TK3" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "ATGVT TK3"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <strong>TK4</strong>
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "ATGVT TK4" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "ATGVT TK4"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <strong>TK5</strong>
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "ATGVT TK5" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "ATGVT TK5"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <strong>TK6</strong>
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "ATGVT TK6" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "ATGVT TK6"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <strong>TK7</strong>
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "ATGVT TK7" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "ATGVT TK17"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
  </div>
</div>