<div class="flex justify-start items-center ml-8 mt-4 ">
  <div class="grid justify-items-center">
    <strong>DISPENSERS</strong>
  </div>
  <div class="flex flex-wrap ml-10">
    <div class="justify-items-center mr-3 ml-3">
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "DISPENSERS TK1" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "DISPENSERS TK1"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "DISPENSERS TK2" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "DISPENSERS TK2"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "DISPENSERS TK3" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "DISPENSERS TK3"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "DISPENSERS TK4" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "DISPENSERS TK4"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "DISPENSERS TK5" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "DISPENSERS TK5"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "DISPENSERS TK6" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "DISPENSERS TK6"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "DISPENSERS TK7" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "DISPENSERS TK7"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-start items-center ml-8 mt1">
  <div class="justify-items-center mr-3 ml-3"> 
    <%= form.fields_for :questions do |question_form| %>
      <%= question_form.hidden_field :name, value: "DISPENSERS BOOTED" %>
      <%= question_form.check_box :answer, value: existing_value(@location_questions.questions, "DISPENSERS BOOTED"), class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded", checked: checked_checkbox(existing_value(@location_questions.questions, "DISPENSERS BOOTED")) %>
    <% end %>
    BOOTED
  </div>
</div>
<div class="flex justify-start items-center ml-8 mt1">
  <div class="justify-items-center mr-3 ml-3"> 
    <%= form.fields_for :questions do |question_form| %>
      <%= question_form.hidden_field :name, value: "DISPENSERS DRY" %>
      <%= question_form.check_box :answer, value: existing_value(@location_questions.questions, "DISPENSERS DRY"), class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded", checked: checked_checkbox(existing_value(@location_questions.questions, "DISPENSERS DRY")) %>
    <% end %>
    DRY
  </div>
</div>
<div class="flex justify-start items-center ml-8 mt1">
  <div class="justify-items-center mr-3 ml-3"> 
    <%= form.fields_for :questions do |question_form| %>
      <%= question_form.hidden_field :name, value: "DISPENSERS ANNODES" %>
      <%= question_form.check_box :answer, value: existing_value(@location_questions.questions, "DISPENSERS ANNODES"), class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded", checked: checked_checkbox(existing_value(@location_questions.questions, "DISPENSERS ANNODES")) %>
    <% end %>
    ANNODES
  </div>
</div>
<div class="flex justify-start items-center ml-8 mt1">
  <div class="justify-items-center mr-3 ml-3"> 
    <%= form.fields_for :questions do |question_form| %>
      <%= question_form.hidden_field :name, value: "DISPENSERS LC" %>
      <%= question_form.check_box :answer, value: existing_value(@location_questions.questions, "DISPENSERS LC"), class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded", checked: checked_checkbox(existing_value(@location_questions.questions, "DISPENSERS LC")) %>
    <% end %>
    L.C.
  </div>
</div>