<%= form_with(model: [@location, visit], local: true) do |form| %>
  <% if visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
        <% visit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :location_id, value: @location.id %>

  <div class="flex justify-start items-center ml-4 mt-4">
    <div class="grid justify-items-center">
      <strong>G.W. MONITORING</strong>
      <div>
        OR
      </div>
      <div>
        <strong>VAPOR MONITORY</strong>
      </div>
    </div>
    <div class="flex flex-wrap ml-6">
      <div class="justify-items-center mr-3 ml-3">
        RDD1 
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "RDD1" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "RDD1"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %> 
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        RDD2
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "RDD2" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "RDD2"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %> 
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        RDD3
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "RDD3" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "RDD3"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        RDD4
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "RDD4" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "RDD4"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        RDD5
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "RDD5" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "RDD5"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        RDD6
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "RDD6" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "RDD6"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        RDD7
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "RDD7" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "RDD7"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-start items-center ml-4 mt-4">
    <div class="grid justify-items-center">
      <strong>RECTIFIER READING</strong>
    </div>
    <div class="flex flex-wrap ml-6">
      <div class="justify-items-center mr-3 ml-3">
        <strong>Volts</strong>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "Volts" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "Volts"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        AMPS
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "AMPS" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "AMPS"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        HRS
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "HRS" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "HRS"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="flex justify-start items-center ml-4 mt-4">
    <div class="flex flex-wrap items-center ml-6">
      <div class="justify-items-center mr-3 ml-3">
        <strong>STAGE 1</strong> 
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "STAGE 1" %>
          <%= question_form.check_box :answer, value: existing_value(@location_questions.questions, "STAGE 1"), class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
        <% end %>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <strong>STAGE 2</strong> 
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "STAGE 2" %>
          <%= question_form.check_box :answer, value: existing_value(@location_questions.questions, "STAGE 2"), class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
        <% end %>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <strong>TTT</strong>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "TTT" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "TTT"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-24 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <strong>1YR</strong> 
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "1YR" %>
          <%= question_form.check_box :answer, value: existing_value(@location_questions.questions, "1YR"), class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
        <% end %>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <strong>3YR</strong> 
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "3YR" %>
          <%= question_form.check_box :answer, value: existing_value(@location_questions.questions, "3YR"), class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
        <% end %>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <strong>5YR</strong> 
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "5YR" %>
          <%= question_form.check_box :answer, value: existing_value(@location_questions.questions, "5YR"), class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="flex justify-start items-center ml-4 mt-4">
    <div class="grid justify-items-center">
      <strong>ATG VALID TESTS</strong>
    </div>
    <div class="flex flex-wrap ml-4">
      <div class="justify-items-center mr-3 ml-3">
        <strong>TK1</strong>
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "ATGVT TK1" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "ATGVT TK1"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <strong>TK2</strong>
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "ATGVT TK2" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "ATGVT TK2"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <strong>TK3</strong>
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "ATGVT TK3" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "ATGVT TK3"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <strong>TK4</strong>
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "ATGVT TK4" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "ATGVT TK4"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <strong>TK5</strong>
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "ATGVT TK5" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "ATGVT TK5"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <strong>TK6</strong>
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "ATGVT TK6" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "ATGVT TK6"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <strong>TK7</strong>
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "ATGVT TK7" %>
            <%= question_form.number_field :answer, value: existing_value(@location_questions.questions, "ATGVT TK17"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300", inputmode: "numeric" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-start items-center ml-11 mt-4">
    <div class="grid justify-items-center">
      <strong>S.I.R. SYSTEM</strong>
    </div>
    <div class="flex flex-wrap ml-4">
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "SIR TK1" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "SIR TK1"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "SIR TK2" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "SIR TK2"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "SIR TK3" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "SIR TK3"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "SIR TK4" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "SIR TK4"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "SIR TK5" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "SIR TK5"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "SIR TK6" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "SIR TK6"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "SIR TK7" %>
            <%= question_form.number_field :answer, value: existing_value(@location_questions.questions, "SIR TK7"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300", inputmode: "numeric" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-start items-center ml-11 mt-4">
    <div class="grid justify-items-center" style="text-decoration: underline;">
      Monthly
    </div>
  </div>

  <div class="flex justify-start items-center ml-8">
    <div class="grid justify-items-center">
      <strong>SPILL BUCKETS</strong>
    </div>
    <div class="flex flex-wrap ml-4">
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "SPILL TK1" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "SPILL TK1"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "SPILL TK2" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "SPILL TK2"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "SPILL TK3" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "SPILL TK3"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "SPILL TK4" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "SPILL TK4"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "SPILL TK5" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "SPILL TK5"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "SPILL TK6" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "SPILL TK6"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "SPILL TK7" %>
            <%= question_form.number_field :answer, value: existing_value(@location_questions.questions, "SPILL TK7"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300", inputmode: "numeric" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-start items-center ml-8 mt-4 ">
    <div class="grid justify-items-center mr-1">
      <strong>OVERFILL</strong>
    </div>
    <div class="flex flex-wrap ml-14">
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "OVERFILL TK1" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "OVERFILL TK1"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "OVERFILL TK2" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "OVERFILL TK2"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "OVERFILL TK3" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "OVERFILL TK3"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "OVERFILL TK4" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "OVERFILL TK4"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "OVERFILL TK5" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "OVERFILL TK5"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "OVERFILL TK6" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "OVERFILL TK6"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "OVERFILL TK7" %>
            <%= question_form.number_field :answer, value: existing_value(@location_questions.questions, "OVERFILL TK7"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300", inputmode: "numeric" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-start items-center ml-8 mt1">
    <div class="justify-items-center mr-3 ml-3"> 
      <%= form.fields_for :questions do |question_form| %>
        <%= question_form.hidden_field :name, value: "OVERFILL DT" %>
        <%= question_form.check_box :answer, value: existing_value(@location_questions.questions, "OVERFILL DT"), class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
      <% end %>
      Drop Tube
    </div>
  </div>
  <div class="flex justify-start items-center ml-8 mt1">
    <div class="justify-items-center mr-3 ml-3"> 
      <%= form.fields_for :questions do |question_form| %>
        <%= question_form.hidden_field :name, value: "OVERFILL BF" %>
        <%= question_form.check_box :answer, value: existing_value(@location_questions.questions, "OVERFILL BF"), class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
      <% end %>
      Ball Float
    </div>
  </div>

  <div class="flex justify-start items-center ml-8 mt-4">
    <div class="grid justify-items-center mr-6">
      <strong>ATG</strong>
    </div>
    <div class="flex flex-wrap ml-16">
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "ATG TK1" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "ATG TK1"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "ATG TK2" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "ATG TK2"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "ATG TK3" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "ATG TK3"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "ATG TK4" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "ATG TK4"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "ATG TK5" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "ATG TK5"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "ATG TK6" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "ATG TK6"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "ATG TK7" %>
            <%= question_form.number_field :answer, value: existing_value(@location_questions.questions, "ATG TK7"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300", inputmode: "numeric" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-start items-center ml-8 mt-4 ">
    <div class="grid justify-items-center">
      <strong>DISPENSERS</strong>
    </div>
    <div class="flex flex-wrap ml-10">
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "DISPENSERS TK1" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "DISPENSERS TK1"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "DISPENSERS TK2" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "DISPENSERS TK2"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "DISPENSERS TK3" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "DISPENSERS TK3"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "DISPENSERS TK4" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "DISPENSERS TK4"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "DISPENSERS TK5" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "DISPENSERS TK5"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "DISPENSERS TK6" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "DISPENSERS TK6"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "DISPENSERS TK7" %>
            <%= question_form.number_field :answer, value: existing_value(@location_questions.questions, "DISPENSERS TK7"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300", inputmode: "numeric" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-start items-center ml-8 mt1">
    <div class="justify-items-center mr-3 ml-3"> 
      <%= form.fields_for :questions do |question_form| %>
        <%= question_form.hidden_field :name, value: "DISPENSERS BOOTED" %>
        <%= question_form.check_box :answer, value: existing_value(@location_questions.questions, "DISPENSERS BOOTED"), class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
      <% end %>
      BOOTED
    </div>
  </div>
  <div class="flex justify-start items-center ml-8 mt1">
    <div class="justify-items-center mr-3 ml-3"> 
      <%= form.fields_for :questions do |question_form| %>
        <%= question_form.hidden_field :name, value: "DISPENSERS DRY" %>
        <%= question_form.check_box :answer, value: existing_value(@location_questions.questions, "DISPENSERS DRY"), class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
      <% end %>
      DRY
    </div>
  </div>
  <div class="flex justify-start items-center ml-8 mt1">
    <div class="justify-items-center mr-3 ml-3"> 
      <%= form.fields_for :questions do |question_form| %>
        <%= question_form.hidden_field :name, value: "DISPENSERS ANNODES" %>
        <%= question_form.check_box :answer, value: existing_value(@location_questions.questions, "DISPENSERS ANNODES"), class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
      <% end %>
      ANNODES
    </div>
  </div>
  <div class="flex justify-start items-center ml-8 mt1">
    <div class="justify-items-center mr-3 ml-3"> 
      <%= form.fields_for :questions do |question_form| %>
        <%= question_form.hidden_field :name, value: "DISPENSERS LC" %>
        <%= question_form.check_box :answer, value: existing_value(@location_questions.questions, "DISPENSERS LC"), class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
      <% end %>
      L.C.
    </div>
  </div>

  <div class="flex justify-start items-center ml-11 mt-4">
    <div class="grid justify-items-center" style="text-decoration: underline;">
      ANNUALLY
    </div>
  </div>

  <div class="flex justify-start items-center ml-8">
    <div class="grid justify-items-center">
      <strong>STP SUMPS</strong>
    </div>
    <div class="flex flex-wrap ml-10">
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "STP TK1" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "STP TK1"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "STP TK2" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "STP TK2"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "STP TK3" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "STP TK3"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "STP TK4" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "STP TK4"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "STP TK5" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "STP TK5"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "STP TK6" %>
            <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "STP TK6"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
          <% end %>
        </div>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <div>
          <%= form.fields_for :questions do |question_form| %>
            <%= question_form.hidden_field :name, value: "STP TK7" %>
            <%= question_form.number_field :answer, value: existing_value(@location_questions.questions, "STP TK7"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300", inputmode: "numeric" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-start items-center ml-8 mt1">
    <div class="justify-items-center mr-3 ml-3"> 
      <%= form.fields_for :questions do |question_form| %>
        <%= question_form.hidden_field :name, value: "STP DRY" %>
        <%= question_form.check_box :answer, value: existing_value(@location_questions.questions, "STP DRY"), class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
      <% end %>
      DRY
    </div>
  </div>
  <div class="flex justify-start items-center ml-8 mt1">
    <div class="justify-items-center mr-3 ml-3"> 
      <%= form.fields_for :questions do |question_form| %>
        <%= question_form.hidden_field :name, value: "STP ANNODES" %>
        <%= question_form.check_box :answer, value: existing_value(@location_questions.questions, "STP ANNODEs"), class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
      <% end %>
      ANNODES
    </div>
  </div>
  <div class="flex justify-start items-center ml-8 mt1">
    <div class="justify-items-center mr-3 ml-3"> 
      <%= form.fields_for :questions do |question_form| %>
        <%= question_form.hidden_field :name, value: "STP LC" %>
        <%= question_form.check_box :answer, value: existing_value(@location_questions.questions, "STP LC"), class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
      <% end %>
      L.C.
    </div>
  </div>

  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="mt-5 md:mt-0 md:col-span-2">
      <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
        <div>
          <label for="about" class="block font-large text-gray-700">
            <strong>Comments</strong>
          </label>
          <div class="mt-1">
            <%= form.fields_for :questions do |question_form| %>
              <%= question_form.hidden_field :name, value: "COMMENT" %>
              <%= question_form.text_area :body, rows: "3",, value: existing_comment_value(@location_questions.questions) class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-md" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-start items-center ml-4 mt-4">
    <div class="flex flex-wrap items-center ml-6">
      <div class="justify-items-center mr-3 ml-3">
        <strong>DEQ:</strong>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "DEQ" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "DEQ"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-24 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <strong>Cert:</strong>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "CERT" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "CERT"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-24 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <strong>L,LD:</strong>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "LLD" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "LLD"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-24 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <strong>CP:</strong>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "CP" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "CP"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-24 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <strong>VR:</strong>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "VR" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "VR"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-24 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
  </div>

    <div class="flex justify-start items-center ml-4 mt-4">
    <div class="flex flex-wrap items-center ml-6">
      <div class="justify-items-center mr-3 ml-3">
        <strong>OT:</strong>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "OT" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "OT"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-24 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <strong>2021:</strong>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "2021" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "2021"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-24 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <strong>LE:</strong>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "LE" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "LE"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-24 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
      <div class="justify-items-center mr-3 ml-3">
        <strong>T/Co:</strong>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "TCO" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "TCO"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-24 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="actions mt-3 pr-4 pl-4 mb-3">
    <%= form.submit "Update", class: "w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700" %>
  </div>
<% end %>
