<div class="flex justify-start items-center ml-4 mt-4">
  <div class="grid justify-items-center">
    <strong>G.W. MONITORING</strong>
    <div>
      OR
    </div>
    <div>
      <strong>VAPOR MONITORY</strong>
    </div>
  </div>
  <div class="flex flex-wrap ml-6">
    <div class="justify-items-center mr-3 ml-3">
      RDD1 
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "RDD1" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "RDD1"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %> 
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      RDD2
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "RDD2" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "RDD2"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %> 
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      RDD3
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "RDD3" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "RDD3"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      RDD4
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "RDD4" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "RDD4"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      RDD5
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "RDD5" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "RDD5"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      RDD6
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "RDD6" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "RDD6"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      RDD7
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "RDD7" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "RDD7"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
  </div>
</div>