<div class="flex justify-start items-center ml-8">
  <div class="grid justify-items-center">
    <strong>SPILL BUCKETS</strong>
  </div>
  <div class="flex flex-wrap ml-4">
    <div class="justify-items-center mr-3 ml-3">
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "SPILL TK1" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "SPILL TK1"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "SPILL TK2" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "SPILL TK2"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "SPILL TK3" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "SPILL TK3"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "SPILL TK4" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "SPILL TK4"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "SPILL TK5" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "SPILL TK5"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "SPILL TK6" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "SPILL TK6"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "SPILL TK7" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "SPILL TK7"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
  </div>
</div>