<div class="flex justify-start items-center ml-8">
  <div class="grid justify-items-center">
    <strong>STP SUMPS</strong>
  </div>
  <div class="flex flex-wrap ml-10">
    <div class="justify-items-center mr-3 ml-3">
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "STP TK1" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "STP TK1"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "STP TK2" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "STP TK2"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "STP TK3" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "STP TK3"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "STP TK4" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "STP TK4"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "STP TK5" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "STP TK5"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "STP TK6" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "STP TK6"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <div>
        <%= form.fields_for :questions do |question_form| %>
          <%= question_form.hidden_field :name, value: "STP TK7" %>
          <%= question_form.text_field :answer, value: existing_value(@location_questions.questions, "STP TK7"), class: "focus:ring-indigo-500 focus:border-indigo-500 w-14 flex-auto rounded-md sm:text-sm border-gray-300" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-start items-center ml-8 mt1">
  <div class="justify-items-center mr-3 ml-3"> 
    <%= form.fields_for :questions do |question_form| %>
      <%= question_form.hidden_field :name, value: "STP DRY" %>
      <%= question_form.check_box :answer, value: existing_value(@location_questions.questions, "STP DRY"), class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded", checked: checked_checkbox(existing_value(@location_questions.questions, "STP DRY")) %>
    <% end %>
    DRY
  </div>
</div>
<div class="flex justify-start items-center ml-8 mt1">
  <div class="justify-items-center mr-3 ml-3"> 
    <%= form.fields_for :questions do |question_form| %>
      <%= question_form.hidden_field :name, value: "STP ANNODES" %>
      <%= question_form.check_box :answer, value: existing_value(@location_questions.questions, "STP ANNODEs"), class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded", checked: checked_checkbox(existing_value(@location_questions.questions, "STP ANNODES")) %>
    <% end %>
    ANNODES
  </div>
</div>
<div class="flex justify-start items-center ml-8 mt1">
  <div class="justify-items-center mr-3 ml-3"> 
    <%= form.fields_for :questions do |question_form| %>
      <%= question_form.hidden_field :name, value: "STP LC" %>
      <%= question_form.check_box :answer, value: existing_value(@location_questions.questions, "STP LC"), class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded", checked: checked_checkbox(existing_value(@location_questions.questions, "STP LC")) %>
    <% end %>
    L.C.
  </div>
</div>