<div class="fixed inset-x-0 top-0 flex items-end justify-right px-4 py-6 sm:p-6 justify-end z-30 pointer-events-none">
  <div data-controller="alert" class="max-w-sm w-full shadow-lg rounded px-4 py-3 rounded relative bg-green-400 border-l-4 border-green-700 text-white pointer-events-auto">
    <div class="p-2">
      <div class="flex items-start">
        <div class="ml-3 w-0 flex-1 pt-0.5">
          <p class="text-sm leading-5 font-medium">
            <%= notice %>
          </p>
        </div>
        <div class="ml-4 flex-shrink-0 flex">
          <button data-action="alert#close" class="inline-flex text-white focus:outline-none focus:text-gray-300 transition ease-in-out duration-150">
            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-around mb-3 mt-3">
  <div class="grid justify-item-center">
    <%= link_to 'Edit', edit_location_visit_path(@location, @visit), class: "py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-400" %>
  </div>
  <div class="grid justify-item-center">
    <%= link_to 'Back', location_visits_path, class: "py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-400" %>
  </div>
</div>

<hr>

<div class="flex justify-start mt-2">
  <div class="ml-4">Date: <%= @visit.created_at.in_time_zone("Central Time (US & Canada)").strftime('%b-%d-%Y') %></div>
  <div class="ml-4">Site: <%= @visit.location.name %></div>
</div>

<div class="flex justify-start">
  <div class="ml-4">Address: <%= @visit.location.full_address %></div>
</div>

<div class="flex justify-start items-center ml-4 mt-4">
  <div class="grid justify-items-center">
    <strong>G.W. Monitoring</strong>
    <div>
      OR
    </div>
    <div>
      <strong>Vapor Monitory</strong>
    </div>
  </div>
  <div class="flex flex-wrap ml-6">
    <div class="justify-items-center mr-3 ml-3">
      <strong>RDD1</strong>
      <div><%= @visit.questions.where(name: "RDD1").first.answer %></div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <strong>RDD2</strong>
      <div><%= @visit.questions.where(name: "RDD2").first.answer %></div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <strong>RDD3</strong>
      <div><%= @visit.questions.where(name: "RDD3").first.answer %></div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <strong>RDD4</strong>
      <div><%= @visit.questions.where(name: "RDD4").first.answer %></div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <strong>RDD5</strong>
      <div><%= @visit.questions.where(name: "RDD5").first.answer %></div>
    </div>
    <div class="justify-items-center mr-3 ml-3">
      <strong>RDD6</strong>
      <div><%= @visit.questions.where(name: "RDD6").first.answer %></div>
    </div>
  </div>
</div>



<div class="flex justify-around mt-8">
  <div class="grid justify-item-center">
    <strong>Compliance</strong>
    <div>
      <strong>Assistance</strong> _____________________________
    </div>
  </div>
  <div class="grid justify-item-center">
    <strong>Owner</strong>
    <div>
      <strong>Representative</strong> _____________________________
    </div>
  </div>
</div>
